
<h1 class="jungletitle">Jungle Admin Stats</h1>
<h4 class="alert alert-info">Total Products: <%= @products_count.inspect%></h1>
<h4 class="alert alert-info">Total Categories: <%= @categories_count%></h1>