// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

h1.jungletitle {
  display: flex;
  font-weight: 200;
  justify-content: center;
}

h1.abouttitle {
  display: flex;
  font-weight: 200;
  justify-content: center;
}

h3.aboutparagraph {
  display: flex;
  font-weight: 200;
  justify-content: center;
}

h1.signup-login {
  display: flex;
  font-weight: 200;
  justify-content: center;
  letter-spacing: 3px;
}

.loginform{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding-top: 2%;
  margin: 10px 
}

.username {
  padding-top: 3.7%;
  color: #6e6e6e;
}
